#-------------------------
# Composer
#-------------------------
/vendor

#-------------------------
# Temporary Files
#-------------------------
/writable/cache/*
!writable/cache/test.php

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

._*

.DS_Store

# Visual Studio Code
.vscode/

# Assests

# public/css
# public/fonts
# public/images
# public/js
# public/scss
